{% extends "base.html" %}

{% block custom_scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/es.js" integrity="sha256-bETP3ndSBCorObibq37vsT+l/vwScuAc9LRJIQyb068=" crossorigin="anonymous"></script>
<script>
    moment().locale('{{ g.locale }}');
    var lastConnection = moment('{{ user.last_seen }}', 'YYYY-MM-DD HH:mm:ss.SSSSSS').format('LLL');
    var lastConnectionHTML = document.getElementById('last-connection');
    lastConnectionHTML.innerHTML =  lastConnectionHTML.innerHTML + " " + lastConnection;
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-10 mx-auto">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <div class="row h-100">
                    <div class="col-auto my-auto">
                        <img src="{{ user.avatar(128) }}" class="img-fluid" alt="Profile image">
                    </div>
                    <div class="col my-auto">
                        <h1>{{ user.username }}</h1>
                        {% if user.about_me %}
                        <p>{{ user.about_me }}</p>
                        {% endif %}

                        {% if user.last_seen %}
                        <div>
                            <small id="last-connection">{{ _('Last connection') }}:</small>
                        </div>
                        {% endif %}

                        <div class="py-2">
                            {% if user == current_user %}
                            <a href="{{ url_for('user.edit_profile') }}" class="btn btn-sm btn-primary">{{ _('Edit profile') }}</a>
                            {% elif not current_user.is_following(user) %}
                            <a href="{{ url_for('user.follow', username=user.username) }}"
                               class="btn btn-sm btn-success">{{ _('Follow') }}</a>
                            {% else %}
                            <a href="{{ url_for('user.unfollow', username=user.username) }}"
                               class="btn btn-sm btn-danger">{{ _('Unfollow') }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div><!---->
            </div>
        </div>
    </div>

    <hr>

    <div class="col-12 col-md-10 mx-auto my-4">
        <div class="row">
            <div class="col">
                {% for post in posts %}
                    {% with index=loop.index %}
                        {% if user == current_user %}
                        {% include 'owner_post.html' %}
                        {% else %}
                        {% include 'post.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}

                {% if prev_url or next_url %}
                <nav aria-label="Pagination">
                    <ul class="pagination justify-content-end">
                        {% if prev_url %}
                        <li class="page-item">
                            <a class="page-link" href="{{ prev_url }}">{{ _('Newer posts') }}</a>
                        </li>
                        {% endif %}
                        {% if next_url %}
                        <li class="page-item">
                            <a class="page-link" href="{{ next_url }}">{{ _('Older posts') }}</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}