<div class="card my-1">
    <div class="card-body py-2">
        <div class="row h-100">
            <div class="col my-auto">
                <p>{{ post.body }}</p>
                <div>
                    <small id="user-entry-{{ index }}"></small>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
	window.addEventListener("load", function (event) {
		var postTimeAgo = moment('{{post.timestamp}}', 'YYYY-MM-DD HH:mm:ss.SSSSSS').fromNow();
		var userEntryHTML = document.getElementById('user-entry-' + '{{ index }}');
		userEntryHTML.innerHTML = userEntryHTML.innerHTML + " " + postTimeAgo;
	}, false);
</script>
